@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=JetBrains+Mono:wght@400;500&family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: #141414;
  color: whitesmoke
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.cursor {
  animation: blink 1s step-end infinite;
}